[submodule "class_resources/feedback"]
	path = class_resources/feedback
	url = git@gitlab.rnl.tecnico.ulisboa.pt:iaed24/feedback/labs/ist1110262.git
[submodule "class_resources/docs"]
	path = class_resources/docs
	url = git@gitlab.rnl.tecnico.ulisboa.pt:iaed24/iaed24.git
[submodule "class_resources/submissions"]
	path = class_resources/submissions
	url = git@gitlab.rnl.tecnico.ulisboa.pt:iaed24/labs/ist1110262.git
[submodule "project/submissions"]
	path = project/submissions
	url = git@gitlab.rnl.tecnico.ulisboa.pt:iaed24/project/ist1110262.git
[submodule "project/feedback"]
	path = project/feedback
	url = git@gitlab.rnl.tecnico.ulisboa.pt:iaed24/feedback/project/ist1110262.git
